<% document ||= @document %>
<% container ||= '' %>
<% fa_list = render_fa_list(document[:id]) %>

<dl id="fa_detailed" class="dl-horizontal dl-invert data-details">
    <div id="faTableWrapper">
      <table class="faTable2_isad table table-condensed">
        <thead>
          <tr>
            <th>Call Number</th>
            <th colspan="2">Description</th>
          </tr>
        </thead>
        <tbody>
        <% fa_list.each do |fa_item| %>
          <% container_current = fa_item[:container_type_e].force_encoding("UTF-8") + ' #' +
              fa_item[:container_number_e].to_s %>
          <% if container_current != container %>
            <tr class="container_info">
              <td colspan="4"><%= container_current %></td>
            </tr>
            <% container = container_current %>
          <% end %>
          <tr>
            <td class="call_number_column">
              <%= render_fa_call_number(fa_item[:item_json_e]) %>
            </td>
            <td>
              <%= render_fa_description(fa_item[:item_json_e]) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</dl>
