<% document ||= @document %>
<% fa_list = render_fa_list(document[:id]) %>

<dl id="fa_detailed" class="dl-horizontal dl-invert data-details">
    <div id="faTableWrapper" class="table-responsive">
      <table class="faTable_isad table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Description</th>
            <th>ID</th>
            <th>Navigate</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
        <% fa_list.each do |fa_item| %>
          <tr>
            <td><%= fa_item[:container_type_e].force_encoding("UTF-8") %> #<%= fa_item[:container_number_e] %></td>
            <td><%= render_fa_item(fa_item[:item_json_e]) %></td>
            <td><%= fa_item[:id_e].force_encoding("UTF-8") %></td>
            <td><button class="btn btn-default btn-xs fa-show">Show</button></td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</dl>
