<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <p><strong>VERA AND DONALD BLINKEN OPEN SOCIETY ARCHIVES</strong><br/>
                       <i class="fa fa-map-marker"></i> <strong>ADDRESS</strong> H-1051 Budapest, Arany János u. 32.<br/>
                       <i class="fa fa-calendar"></i> <strong>OPENING HOURS</strong> Monday-Friday 10AM-5:45PM</p>
            </div>
            <div class="col-md-4">
                    <p><i class="fa fa-phone"></i> <strong>TEL</strong> +36-1-327-3250<br/>
                       <i class="fa fa-fax"></i> <strong>FAX</strong> +36-1-327-3260<br/>
                       <i class="fa fa-envelope-o"></i> <strong>EMAIL</strong> <a href="mailto:info@osaarchivum.org">info@osaarchivum.org</a></p>
            </div>
            <div class="col-md-2">
                <div class="ceu-logo"><a href="http://www.ceu.hu" target="_blank"><img src="<%= asset_path 'ceu-logo.png' %>" /></a></div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->

<footer id="footer">
    <p>&copy; 2015 <a href="#">OSA Archivum</a></p>
</footer>
