<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
          <div class="header-image">
            <a href="http://www.osaarchivum.org"><img src="<%= asset_path 'osa_logo.png' %>" /></a>
          </div>
          <div class="header-title">
            <a href="/"><h1>catal<span>o</span>g</h1></a>
          </div>
        </div>
    </div> <!-- container -->
</header> <!-- header-full -->
