<div class="sb-slidebar sb-right">
    <h2 class="slidebar-header no-margin-bottom">Information</h2>
    <p><span class="info-record-origin">OSA Collections Catalog</span> offers an integrated search function built on
    three major databases: standard bibliographic library records, film
    library bibliographic records and archival item/ folder level
    descriptions along with rich contextual descriptions (ISADG, ISAAR etc.)</p>
    <p>The <span class="info-record-origin">OSA Library Collections</span> are described using English language MARC
    bibliographic records for both periodicals and reference books related
    to Cold War, Human Rights and the archival/library profession.
    Information about books and journals, including Russian periodicals, are
    searchable through the integrated search, with the exception of
    Eastern-European and Central Asian language periodicals, whose
    cataloging are still in progress. These Eastern-European language
    periodicals will temporarily be accessible to users
    <a href="http://fa.osaarchivum.org/library/periodicals?idx=Languages" target="_blank">here</a>.
    Additionally, Special Collections are not yet accessible on the integrated search.
    Short summaries and inventories could be accessed from
    <a href="http://www.osaarchivum.org/library" target="_blank">here.</a></p>
    <p>The <span class="info-record-origin">OSA Archival Holdings</span> are fully available through the integrated
    search. The Catalog is in English, with original titles in different
    languages included in the folder and item-level descriptions. Contextual
    information about particular collections (fonds), sub-collections
    (sub-fonds) and records groups (series) is provided as part of the
    archival hierarchy. The connections between digitized and born-digital
    holdings are established by cross-reference links which appear in the
    series level descriptions of archival records. The digital repository,
    containing itemized descriptions on digital objects is searchable
    <a href="http://www.osaarchivum.org/greenfield/repository" target="_blank">here</a>.
    For a detailed overview of the scope and diversity of our holdings,
    please consult the <a href="<%= browse_fondslist_path %>" target="_blank">OSA Collections list</a>.</p>
    <p>The <span class="info-record-origin">OSA Film Library</span> contains approximately 4000 documentary and
    propaganda films as well as selected fiction. The catalog is regularly
    updated to reflect recent acquisitions. OSA Film Library is available
    for on-site viewing in the OSA Research Room. In addition to the Film
    Library, OSA has rich audiovisual collections in the OSA Archival
    Holdings (see above).</p>
</div> <!-- sb-slidebar sb-right -->
