<div class="item">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <div class="carousel-caption">
                    <div class="carousel-text">
                       <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Film Library</h1>
                       <h2 class="animated fadeInDownBig animation-delay-5 carousel-subtitle">An exceptionally broad range of documentary, propaganda and fiction films in almost 100 languages about:</h2>
                       <ul class="carousel-list-text">
                           <li class="animated bounceInLeft animation-delay-11">Cold War and communism</li>
                           <li class="animated bounceInLeft animation-delay-13">International human rights abuses and war crimes</li>
                           <li class="animated bounceInLeft animation-delay-15">Verzio Documentary Film Festival entries</li>
                       </ul>
                       <p class="animated fadeInUpBig animation-delay-17">Our films come from various sources, from individual donors, national film and television archives, and public vendors.</p>
                   </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                <div class="carousel-img">
                    <img src="<%= randomized_filmlibrary_image %>" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
