<div class="cover">
  <div class="container-location-gallery">
      <div class="container-location-inner-gallery" style="background: url('<%= render_fa_cover(document) %>');">
        <span class="series-reference-number-gallery"><%= document["description_level"]%></span>
      </div>
  </div>
</div>
