<div class="cover cover-sticky col-md-2">
  <div class="container-location-big">
    <div class="container-location-inner-big" style="background: url('<%= render_archives_cover(@document) %>');">
    </div>
  </div>
  <div class="btn-access">
    <button class="btn btn-sm btn-default"
            rel="popover"
            data-content="These are analog archival materials which is available in the Archival Research Room at
            Blinken Open Society Archives.<br/><br/>
            In order to request this particular record, please visit us and fill in the Request Form,
            the Reference Staff will assist you."
            title="Access the material"><i class="fa fa-info-circle"></i> How to access</button>
  </div>
</div>