<div class="container margin-bottom">
    <div class="col-md-12">
      <div class="item-toolbar row">
        <div class="item-pagination col-sm-5">
          <a class="btn btn-sm btn-danger back-to-results" href="<%= catalog_index_path %>">Back to Catalog</a>
        </div>
      </div>
      <div class="row">
        <h3>List of Directors</h3>
        <%= @directors %>
      </div>
    </div>
</div>
