<% document ||= @document %>
<% form_genre = render_fa_field(document, "form_genre", "Form/Genre", cap: true, facet_name: "genre_facet") %>
<% contents_summary = render_fa_moving_image_contents_summary(document) %>
<% associated_country = render_fa_field(document, "associatedCountry", "Associated Country") %>

<% if form_genre != '' %>
  <h4 class="show-page-section"><i class="fa fa-list"></i>Content</h4>
  <dl class="dl-horizontal dl-invert data-details">
      <%= form_genre %>
      <%= contents_summary %>
      <%= associated_country %>
  </dl>
<% end %>
