<% document ||= @document %>
<% note = render_fa_field(document, 'note', 'Note') %>
<% associated_names = render_fa_associated_names(document, lang: language) %>

<% if note != '' || associated_names != ''%>
    <h4 class="show-page-section"><i class="fa fa-paperclip"></i>Context</h4>
    <dl class="dl-horizontal dl-invert data-details">
      <%= note %>
      <%= associated_names %>
    </dl>
<% end %>
