<% document ||= @document %>
<% creators_field = render_isad_creators(document) %>
<% administrativeHistory_field = render_isad_field(document, "administrativeHistory", "Administrative / Biographical history") %>
<% archivalHistory_field = render_isad_field(document, "archivalHistory", "Archival history") %>
<% sourceOfAcquisition_field = render_isad_field(document, "sourceOfAcquisition", "Immediate source of acquisition or transfer") %>

<% if creators_field != '' ||
      administrativeHistory_field != '' ||
      archivalHistory_field != '' ||
      sourceOfAcquisition_field != '' %>
  <h4 class="show-page-section"><i class="fa fa-paperclip"></i>Context</h4>
  <dl class="dl-horizontal dl-invert data-details">

    <%= creators_field %>
    <%= administrativeHistory_field %>
    <%= archivalHistory_field %>
    <%= sourceOfAcquisition_field %>

  </dl>
<% end %>
