<% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
  <li class="refworks">
    <%= link_to t('blacklight.tools.refworks_html'), refworks_export_url({url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false)})  %>
  </li>
<% end %>
<% if @document.export_formats.keys.include?( :endnote ) %>
  <li class="endnote">
    <%= link_to t('blacklight.tools.endnote_html'), solr_document_path(@document, :format => 'endnote') %>
  </li>
<% end %>
